#!/bin/sh

# $Id: had.sh.sample,v 1.3 2002/08/22 05:49:24 keiichi Exp $
#
# should be in /etc/rc.network ?

had_program='/usr/local/v6/sbin/had'
had_interfaces='hif0'

# If there is a global system configuration file, suck it in.
#
if [ -r /etc/defaults/rc.conf ]; then
	. /etc/defaults/rc.conf
	source_rc_confs
elif [ -r /etc/rc.conf ]; then
	. /etc/rc.conf
fi

case ${ipv6_mobile_enable} in
[Yy][Ee][Ss])
	case ${ipv6_mobile_nodetype} in
	[Hh][Oo][Mm][Ee][Aa][Gg][Ee][Nn][Tt])
		case "$1" in
		start)
			${had_program} ${had_flags} ${had_interfaces}
			;;
		stop)
			/usr/bin/killall had
			;;
		esac
		;;
	esac
	;;
esac

exit 0
