#!/bin/sh

case "$1" in
	start)		
		[ -x /usr/local/sbin/freevrrpd ] && /usr/local/sbin/freevrrpd && echo -n ' freevrrpd'
		;;
	stop)
		killall freevrrpd > /dev/null 2>&1 & && echo -n ' freevrrpd'
		;;
	*)
		echo ""
		echo "Usage: `basename $0` { start | stop }"
		echo ""
		exit 64
		;;
esac
