# $KAME: racoon.conf.sample,v 1.8 2000/06/01 05:46:03 jinmei Exp $

# "path" must be placed before it should be used.
# You can overwrite which you defined, but it should not use due to confusing.
#path include "/usr/local/v6/etc" ;
#include "remote.conf" ;

# search this file for pre_shared_key with various ID key.
path pre_shared_key "/usr/local/v6/etc/psk.txt" ;

# racoon will search this directory if the certificate or certificate request
# is received.
#path certificate "/usr/local/openssl/certs" ;

# personal information.
identifier user_fqdn "foo@kame.net";
identifier fqdn "foo.kame.net";

# "log" specifies logging level.  It is followed by either "info", "notify",
# "debug" or "debug2".
log notify;

remote anonymous
{
	#exchange_mode main,aggressive,base;
	exchange_mode aggressive,main,base;

	#identifier address;
	identifier user_fqdn;
	#certificate_type x509 "foo@kame.net.cert" "foo@kame.net.priv" ;

	lifetime time 24 hour ;	# sec,min,hour
	lifetime byte 100 MB ;	# B,KB,GB

	proposal {
		encryption_algorithm 3des;
		hash_algorithm sha1;
		authentication_method pre_shared_key ;
		dh_group 2 ;
	}
}

sainfo anonymous
{
	pfs_group 1;
	lifetime time 12 hour ;
	lifetime byte 50 MB ;
	encryption_algorithm 3des, rc5, cast128, blowfish, des ;
	authentication_algorithm hmac_sha1, hmac_md5 ;
	compression_algorithm deflate ;
}
