# $KAME: racoon.conf.sample,v 1.9 2000/07/20 06:25:00 itojun Exp $

# "path" affects "include" directive.  "path" must be specified before any
# "include" directive with relative file path.
# you can overwrite "path" directive afterwards, however, doing so may add
# more confusion.
#path include "/usr/local/v6/etc" ;
#include "remote.conf" ;

# the file should contain key ID/key pairs, for pre-shared key authentication.
path pre_shared_key "/usr/local/v6/etc/psk.txt" ;

# racoon will look for certificate file in the directory,
# if the certificate/certificate request payload is received.
#path certificate "/usr/local/openssl/certs" ;

# identification for our side.
identifier user_fqdn "foo@kame.net";
identifier fqdn "foo.kame.net";

# "log" specifies logging level.  It is followed by either "info", "notify",
# "debug" or "debug2".
log notify;

remote anonymous
{
	#exchange_mode main,aggressive,base;
	exchange_mode aggressive,main,base;

	#identifier address;
	identifier user_fqdn;
	#certificate_type x509 "foo@kame.net.cert" "foo@kame.net.priv" ;

	lifetime time 24 hour ;	# sec,min,hour
	lifetime byte 100 MB ;	# B,KB,GB

	proposal {
		encryption_algorithm 3des;
		hash_algorithm sha1;
		authentication_method pre_shared_key ;
		dh_group 2 ;
	}
}

sainfo anonymous
{
	pfs_group 1;
	lifetime time 12 hour ;
	lifetime byte 50 MB ;
	encryption_algorithm 3des, rc5, cast128, blowfish, des ;
	authentication_algorithm hmac_sha1, hmac_md5 ;
	compression_algorithm deflate ;
}
